<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongback">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.dongback">
        <activity
            android:name="com.example.dongback.Registration_picActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.BeautyActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.CafeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.CategoryActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.CirculationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.CultureActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.CvsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.EducationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.EtcActivity"
            android:exported="true"/>
        <activity
            android:name="com.example.dongback.MedicineActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dongback.RestaruntActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8qfcud19on" />

        <activity
            android:name="com.example.dongback.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>